* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: all 0.4s;
}

.top-bar{
    width: 100%;
    height: 40px; 
    font-size: 14px;
    color: rgb(10, 9, 9);
    opacity: 0.7;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-address{
    display: flex;
    column-gap: 50px;
    justify-content: center;
}

.top-bar-icons a i{
    height: 25px;
    width: 25px;
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50%;
    background-color: blueviolet;
    padding: 5px;
}
.top-bar-icons a i:hover{
    background-color: rgb(5, 95, 250);
}

header{
    position: sticky;
    top: 0px;
    z-index: 100;
}
   
.header-class {
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    font-weight: 800;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 0px 10px 1px rgb(230, 229, 229);
}


.navigation-links ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}

.navigation-links ul a {
    text-decoration: none;
    color: rgb(115, 86, 86);
}

.navigation-links ul li {
    margin-right: 30px;
}

.navigation-links ul li a:hover {
    color: rgb(87, 169, 251);
}

.btn {
    background-color: rgb(87, 169, 251);
    color: white;
    padding: 12px 30px;
    border: 2px solid rgb(87, 169, 251);
    font-weight: 800;

}

.btn:hover {
    background-color: white;
    color: rgb(87, 169, 251);
    cursor: pointer;
}

.heading-class-outer{
    height: 200px;
    width: 100%;
    background-image: url('./20.jpg.webp');
    background-repeat: no-repeat;
    background-size: 100% 200%;
}

.heading-class-inner{
    height: 200px;
    width: 100%;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: white;
    font-size: 28px;
}

/* drop down hovering */
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

@media  screen and (max-width:767px){
    .main-container{
        height: 800px;
    }

    .main-content{
        height: 800px;
    }
    .main-content h1 {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
    }
    .main-content {
        padding: 50px 25px;
    }

    .main-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-start {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .about-us-content {
        margin: 100px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 20px;
    }

    .about-us-content>div {
        margin: 50px 0px;
        text-align: center;
        width: 100%;
    }

    .about-us-text{
        margin: 50px 0px;
        padding: 0px;
    }

    .about-list {
        width: 100%;
    }

    .progress-bar {
        width: 250px;
       
    }
}